[submodule "libultrahdr"]
	path = libultrahdr
	url = https://github.com/google/libultrahdr
[submodule "emsdk"]
	path = emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "GMNet"]
	path = GMNet
	url = https://github.com/qtlark/GMNet
[submodule "jpegli"]
	path = jpegli
	url = https://github.com/google/jpegli
[submodule "third_party/UTIF.js"]
	path = third_party/UTIF.js
	url = https://github.com/photopea/UTIF.js
